/* "Tamming" Box Model With Reset */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Universal Styles */

html{
  font-size: 18px;
}

body{
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
}

h1{
  font-weight: bold;
}

.container{
  margin: 0 auto;

}


/*Header Section*/

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  /*border: 1px solid yellow;*/
}

.logo{

  display: flex;
  justify-content: space-between;
  align-items: center;
  /*border: 1px solid black;*/
}


.logo img{

  padding-left: 24px;
  margin-top: 5px;
  width: 80px;
}

 span{
  font-weight: 100;
  color: grey;
  font-size: 22px;
}


strong{
  color: black;
  font-weight: bold;
  line-height: 1.4;
}

/*navbar*/

.mobile{
  display: none;
}

.desktop{
  display: inline-block;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 5px;
  margin-right: 24px;
  /*margin-right: 24px;*/
}

 .desktop a{
  text-decoration: none;
  font-size: 20px;
  color: #383838;
  margin-left: 16px;
}

.desktop a:hover{
  color: #87CEFA;
}

/*Main 1 - Learn Section*/

.main1 .container{
  display: flex;
  justify-content: space-between;
  background-color: #f3f5f5;
}

.img{
  margin: 32px 24px;
  width: 60%;
  /*border: 1px solid orange;*/
}

.img img{
width: 100%;
}

.learn{
width:40%;
/*border: 1px solid green;*/
}

.learn-content{
display: flex;
justify-content: space-between;
flex-direction: column;
height: auto;
padding-left: 20px;
margin-right: 20px;
margin-top: 6.5rem;
/*border: 1px solid green;*/
}

.learn-content h3{
  font-weight: 500;
  color: #383838;
}

.learn-content h1{
  color: #383838;
}

.learn-content a{
  text-decoration: none;
  background-color: #383838;
  color: white;
  padding: 8px 0;
  text-align: center;
  margin-right: 24px;
}

.learn-content a:hover{
  background-color: #87CEFA;
}

/*Main 2 - News Section*/

.main2 .container{
  width: 100%;
  padding: 32px  24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*border: 1px solid red;*/
}
.new {
  width: 60%;

}

.new img{
  width: 100%;
/*border: 1px solid green;*/
}


.new h1{
  color: #383838;
  width: 60%;
  font-weight: 700;
  padding-top: 32px;
  padding-bottom: 24px;
}

.new p{
  width: 60%;
  line-height: 1.2rem;
  color: gray;
}

.new spam{
  width: 60%;
  line-height: 1.2rem;
  color: gray;
  font-weight: 200;
}
/*main 2 new2*/

.new2{
width: 38%;
border-left: 1px solid #DCDCDC;
padding: 16px 0px 32px 0px;
display: flex;
justify-content: flex-start;
align-items: center;
flex-direction: column;
flex-wrap: wrap;
}

.first-new2 {
  width: 100%;
}

.first-new2, .second-new2{
  border-bottom: 1px solid #f3f5f5;
}

.third-new2 {
background-color: #f3f5f5;

}


.third-new2 img{
  width: 35%;
}

 .detail{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
/*border: 1px solid blue;*/
}


.detail img {
  width: 35%;
  padding: 16px;
  height: auto;
}

.darc img{
 width: 100%;
}

.new2-content{
  padding: 16px 1px 32px 0px;
  width: 65%;
  line-height: 5px;
}

h5{
font-size: 20px;
font-weight: 600;
color: black;
}

 p, h5 {
padding-top: 8px;

}

p{
font-weight: 400;
font-size: 0.8rem;
line-height: 1.1rem;
color: gray;
}

.new2-content a{
  color: #87CEFA;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding-top: 18px;
}

/*Main 3 - Learning*/

.courses-mobile{
  display: none;
}

.learning{
  background-color: #f3f5f5;
}

.learning .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headline{
  width: 100%;
text-align: center;
margin: auto;
padding-top: 32px;
padding-bottom: 32px;
}

.headline h1{
  color: #383838;
  font-weight: bold;
}

.courses-desktop{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
}

.course{
 background-color: white;
 width: 32%;
 height: 26rem;
 margin-bottom: 20px;
 display: block;
}

.course-img img {
  width: 100%;
  height: auto;
}

.course-content {
  padding: 16px 16px 24px 16px;
  border-left: 1px solid #f3f5f5;

}

.course h6 {
  padding-bottom: 0.1rem;
  font-size: 22px;
  color: #383838;
  font-weight: 500;
}


.course span{
  font-size: 18px;
  color: gray;
  line-height: .95rem;
}

.course p{
 padding-top: .55rem;
 font-weight: 400;
 font-size: .8rem;
 line-height: 0.9rem;
  color: gray;
}

/*Main 4 - Thesis Section*/
